@media (max-width: 1300px) {
    #Register .head img {
        width: 170px;
    }

    #Register .clear{
        top: -40px;
}

    #Register form {
        width: 80%;
    }

    #Search {
        width: 200px;
    }

    #Popup .box{
        width: 300px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    #Popup .box{
        width: 350px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
        #Register .clear{
            top:30px;   
           left: 87%;
    }
   
    #Register form {
        width: 70%;
    }

    #Search{
        width: 300px;
}

    #Popup .box{
        width: 400px;
    }

}

@media (min-width: 769px) and (max-width: 1300px) {
    #Register .clear{
        left: 77%;
    }

    #Register form {
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #Register .head img {
        width: 200px;
    }

   

}

@media (min-width: 1181px) and (max-width: 1300px) {
    #Register .clear{
        left: 76%;
    }
}